# Build Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.swp

# Logs e OS
*.log
.DS_Store
Thumbs.db

# Testes e Ambiente
*.exec
jacoco.exec
*.env
.env.local
application-local.properties
